footer {
    background-color: var(--gray-smooth);
    padding: 0 10%;
    font-size: .9rem;
    
    div {
        display: flex;
        justify-content: space-between;
        width: 100%;        
        padding: .5rem 0;
        border-top: 1px solid var(--gray-black);
    }

    span {
        color: var(--gray-black)
    }

    ul {
        display: flex;
        gap: 1rem;

        a {
            color: #d6d5d5;
        }
    }
}