.header {            
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.625rem;
    padding: 0.3125rem 10%;
    background-color: var(--black);    

    .options {
        display: none;
        justify-content: space-between;
        align-items: center;
        gap: 1.3rem;

        .barras_menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: .3rem;

            .barra {
                display: block;
                height: 0.125rem;
                width: 0.8125rem;
                background-color: white;
            }
        }        
    }

    a {
        color: var(--gray);
    }

    &_sup {                
        width: 100%;                       

        svg {
            fill: var(--gray);
            display: block;            
        }

        ul {
            display: flex;            
            align-items: center;            
            justify-content: space-between;
            gap: 1.25rem;                
        }
    }

    &_inf {        
        position: sticky;
        top:0;
        display: flex;
        background-color: var(--black);
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 10px 10%;
        color: var(--gray);
        font-size: 0.85rem;
        z-index: 10;
        
        .ul_responsive {
            display: none;
        }

        ul {
            display: flex;
            gap: 1.25rem;
            
            a.buy {
                background-color: var(--blue);
                border-radius: 20px;
                padding: 3px 10px;
            }

            a {
                word-spacing: 3px;
                color: var(--gray);                
            }
        }
    }
}

//Responsive
@media only screen and (max-width: 1024px) {
    .header_inf {
        padding: 0.625rem 1.5rem;     
        font-size: .8rem;
    }
    
    .header {
        padding: 0.3125rem 1.5rem;
        font-size: .8rem;
    }
}

@media only screen and (max-width: 768px) {
    .header_sup nav ul {
        display: none;
    }   

    .header_sup .options {
        display: flex;
    }
}

@media only screen and (max-width: 480px) {
    .header_inf .ul_responsive {
        display: flex;
        align-items: center;

        img {
            background-color: transparent;
        }
    }

    .header_inf ul.vw {
        display: none;
    }
}