.header {            
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.625rem;
    padding: 0.3125rem 10%;
    background-color: var(--black);    
    z-index: 4;
    position: relative;

    .options {
        display: none;
        justify-content: space-between;
        align-items: center;
        gap: 1.3rem;

        .barras_menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: .3rem;

            .barra {
                display: block;
                height: 0.125rem;
                width: 0.8125rem;
                background-color: white;
            }
        }        
    }

    a {
        color: var(--gray);
    }

    &_sup {                
        width: 100%;       

        svg {
            fill: var(--gray);
            display: block;            
        }

        ul {
            display: flex;            
            align-items: center;            
            justify-content: space-between;
            gap: 1.25rem;                
        }
    }

    &_inf {        
        position: sticky;
        top:0;
        background-color: var(--black);
        width: 100%;
        padding: 10px 10%;
        color: var(--gray);
        font-size: 0.85rem;
        z-index: 10;
        border-bottom: 1px solid #656565;        
        
        .content_header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            
        }

        .ul_responsive {
            display: none;
        }

        ul {
            display: flex;
            gap: 1.25rem;
            
            a.buy {
                background-color: var(--blue);
                border-radius: 20px;
                padding: 3px 10px;
            }

            a {
                word-spacing: 3px;
                color: var(--gray);                
            }
        }
    }
}

.background_blur {
    width: 100%;
    height: 100vh;
    background-color: rgba(255,255,255, .1);
    backdrop-filter: blur(12px);        
    position: fixed;
    left: 0;
    top: 0;    
    z-index: 3;
    opacity: 0;
    transition: opacity 1s;
    pointer-events: none;

    &.active {
        opacity: 1;
    }
}

.global_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black-second);
    overflow: scroll;       
    z-index: 11;
    display: flex;
    transition: transform .6s;
    transform: translateY(-100%);
    
    &.active {        
        transform: none;
    }
    
    button {
        position: absolute;
        right: 1rem;
        top: 1rem;
        
        svg {
            fill: white;
            width: 38px;
            height: 38px;
        }
    }


    ul {        
        padding: 2rem 0 2rem 2.5rem;
        width: 100%;
        
        a {
            padding: .6rem 0;
            display: block;
            font-size: 1.7rem;
            font-weight: bold;
        }
    }
}

.menu {    
    width: 100%;        
    background-color: black;
    position: relative;    
    z-index: 3;
    position: sticky;
    top: 2rem;    
    max-height: 0;
    transition: max-height 1s;
    overflow: hidden;
    
    &.active {
        display: block;
        max-height: 400px;
    }
    
    ul {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;   
        margin-top: 1rem;     
        padding-bottom: 2rem;    
        
        li {
            display: block;
            border-bottom: 1px solid var(--gray-black);
            
            a {
                color: var(--gray);
                padding: .7rem 0;
                display: block;
                font-size: 1.2rem;
            }
        }
    }
}

//Responsive
@media only screen and (max-width: 1024px) {
    .header_inf {
        padding: 0.625rem 1.5rem;     
        font-size: .8rem;
    }
    
    .header {
        padding: 0.3125rem 1.5rem;
        font-size: .8rem;
    }
}

@media only screen and (max-width: 768px) {
    .header_sup nav ul {
        display: none;
    }   

    .header_sup .options {
        display: flex;
    }
}

@media only screen and (max-width: 480px) {
    .header_sup svg {
        width: 20px;
        height: 55px;                
    }

    .header {
        padding-bottom: 0;
    }

    .header_sup ul {
        gap: .9rem;
    }
    .header_inf {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .header_inf .ul_responsive {
        display: flex;
        align-items: center;
        
        img {            
            filter: invert(100%);
            width: 1.25rem;
            height: 1.25rem;
        }
    }

    .header_inf ul.vw {
        display: none;
    }

    .global_menu {        
        align-items: center;   

        ul {
            width: 100%;
            padding: 0;
            padding-left: 2rem;                    
        }
    }

    .header .options .barras_menu {
        gap: .38rem;

        .barra {
            width: 1.2rem;
            height: .17rem;
        }   
    }   
}