.main {
    background-color: var(--black);
    color: var(--gray);

    .banner {
        display: block;
        text-align: center;        
        border-top: 1px solid #656565;
        width: 100%;
        padding: 1.875rem 30%;
        font-size: 1.375rem;
        font-weight: bold;
        background-color: var(--black-second);
    
        a {            
            position: relative;
            align-items: center;
            color: var(--blue);            
            
            &:hover {
                border-bottom: 1px solid var(--blue)
            }
        }        

        svg {
            position: absolute;
            bottom: 45%;
            transform: translateY(50%);
            
        }
    }

    .first {        
        padding: 2.5rem 10%;
        padding-bottom: 0;

        .option_colors {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 3.75rem;

            h2 {
                font-size: 4.6875rem;                
            }

            .colors {
                display: flex;                
                gap: 20px;

                ul {
                    display: flex;
                    gap: 0.625rem;
                }

                .ball {
                    display: block;
                    border: none;
                    width: 1.25rem;
                    height: 1.25rem;
                    border-radius: 50%;
                    background-color: white;
                    cursor: pointer;
                
                    &_purple {
                        background: var(--purple)
                    }
                    &_gold {
                        background: var(--gold);
                    }
                    &_silver {
                        background: var(--silver);
                    }
                    &_space-black {
                        background: var(--space-black);
                    }
                }
            }
        }

        .phone {       
            position: relative;                                   
            width: 100%;
            
            .cont_video {
                position: absolute;
                width: 100%;
                height: 100%;         
            
                video {
                    object-fit: cover;                    
                    height: 100%;
                    width: 100%;
                }
            }

            .content_train {
                width: 72%;
                margin: 0 auto;
                overflow: hidden;            
                
                .train {
                    width: 400%;                
                    display: flex;
                    justify-content: center;                
                    
                    img {                
                        width: calc(100%/4);  
                        object-fit: cover;
                        transition: opacity .5s;                    
                        opacity: 0;                    
                    }                
                }
            }
        }
    }

    section.second {
        text-align: center; 
        padding: 80px 13%;
        background-color: var(--gray-smooth);
        width: 100%;

        .title {
            font-size: 2.2rem;
        }
        .sub-title {
            font-size: 1.2rem;
            color: gray;
            margin: 1.5rem 0 2rem;
        }

        .buy {
            display: block;
            width: fit-content;
            margin: auto;
            background-color: var(--blue);
            border-radius: 2rem;
            font-size: 1.2rem;
            padding: .4rem 1rem;
        }

        .first_square {                   
            display: flex;
            gap: 1.5rem;     
            height: 650px;  
            width: 100%;
            margin-top: 5.5rem;  

            .block {
                border-radius: 1.5rem;
                overflow: hidden;
                background-color: var(--black);

                .title {
                    margin: 2.5rem 0;
                    color: transparent;
                    background-image: linear-gradient(180deg,#ffb6ff,#b344ff);
                    background-clip: text;
                    -webkit-background-clip: text;
                    font-weight: bolder;
                    text-align: center;
                    padding: 0 10px;
                }
            }

            .block:nth-child(1) {                
                height: 100%;
                width: 60%;                
            }

            .cont-two-blocks {
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                width: 40%;
                height: 100%;

                .block {                    
                    width: 100%;
                    height: 50%;
                }

                .block:nth-child(1) {
                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }

                .block:nth-child(2) {
                    padding: 2.3rem 0 0 2.3rem;

                    .title {
                        margin: 0;
                        text-align: start;
                    }
                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        
                    }
                }
            }            
        }
    }
}