:root {
   --black: #000000;
   --blue: #147ce5;
   --gray: #e7e6e6;
   --black-second: #191919;
   --purple: #594f63;
   --gold: #f4e8ce;
   --silver: #f0f2f2;
   --space-black: #403e3d;
   --gray-smooth: #161617;
}